name: FreeBSD

# very slow - so only run on demand

on:
    workflow_dispatch:
    # push:
    # pull_request:

jobs:
  freebsd:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v5
    - uses: vmactions/freebsd-vm@v1
      with:
        prepare: |
          pkg install -y perl5.38
        usesh: true
        run: |
            perl5.38.1 -V
            perl5.38.1 Makefile.PL
            make
            prove5.38.1 -wlvmb t