name: Linux 32-bit

on:
  workflow_dispatch:
  # push:
  # pull_request:


jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: i386/ubuntu:latest
    steps:
      - name: install the Perl header, core modules, building tools
        run: |
          apt update
          apt install -y libperl-dev build-essential
      - uses: actions/checkout@v5
      - name: perl -V
        run: perl -V
      - name: perl Makefile.PL
        run: perl Makefile.PL
      - name: make
        run: make
      - name: make test
        run: make test
