name: Windows build

on:
  workflow_dispatch:
  push:
  pull_request:
  schedule:
    - cron: '01 01 * * 6'    # Run every Saturday

jobs:

  list-windows-default:
    name: perl versions for windows default
    runs-on: windows-latest
    steps:
      - uses: shogo82148/actions-setup-perl@v1
      - id: set-matrix
        name: list available perl versions
        shell: perl {0}
        run: |
          use Actions::Core;

          print "Default Version available\n";
          my @default_versions = perl_versions();
          for my $v (@default_versions) {
            print "\t$v\n";
          }
          # Don't want anything less then 5.8
          # also, 5.40.3 is failing
          my $skip = join '|', map { quotemeta $_ }
                               qw( 5.6.
                                   5.40.3
                                   );
          @default_versions = grep { ! /^$skip/ } @default_versions;

          set_output(matrix => {'perl'         => ['latest'],
                                'build-zlib'   => [1],
                                'ccflags'      => ['-Werror', '-Werror -Wc++-compat'],
                                'compiler'     => ['gcc'],
                                'distribution' => ['default']
                                }
                      );
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}


  list-windows-strawberry:
    name: perl version for windows strawberry
    runs-on: windows-latest
    steps:
      - uses: shogo82148/actions-setup-perl@v1
      - id: set-matrix
        name: list available perl versions
        shell: perl {0}
        run: |
          use Actions::Core;

          print "Strawberry Version available\n";
          my @strawberry_versions = perl_versions();
          for my $v (@strawberry_versions) {
            print "\t$v\n";
          }

          # Lots of random failures with strawberry perl
          my $skip = join '|', map { quotemeta $_ }
                               qw( 5.40.
                                   5.38.
                                   5.28.
                                   5.24.
                                   5.22.
                                   5.20.
                                   5.18.
                                   5.16.
                                   5.14.
                                   5.12.
                                   5.10.
                                   5.8.
                                   5.6.
                                 );
          @strawberry_versions = grep { ! /^$skip/ } @strawberry_versions;

          set_output(matrix => {'perl'         => ['latest'],
                                'build-zlib'   => [1],
                                'ccflags'      => ['-Werror'],
                                'compiler'     => ['gcc'],
                                'distribution' => ['strawberry']
                      }
            );

          set_output(matrix => {perl => [@strawberry_versions], distribution => ['strawberry'] });
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}

  run-windows-default:
    name: Perl ${{ matrix.perl }} on '${{ matrix.distribution }}'
    runs-on: windows-latest
    needs: list-windows-default
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.list-windows-default.outputs.matrix )}}
    steps:
      - uses: actions/checkout@v6
      - name: Setup perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl }}
          distribution: ${{ matrix.distribution }}
      - name: Install packages
        run: choco install make
      - name: Perl version
        run: perl -V
      - name: Install dependencies
        run: cpanm --quiet --installdeps --notest .
      - name: Build
        run: |
          flags=$( perl -MConfig -e 'print $Config::Config{ccflags}' )
          perl Makefile.PL CCFLAGS="$flags ${{matrix.ccflags}}" CC="${{matrix.compiler}}" && make
        env:
          BUILD_ZLIB: ${{matrix.build-zlib}}
      - name: Test
        run: make test


  run-windows-strawberry:
    name: Perl ${{ matrix.perl }} on '${{ matrix.distribution }}'
    runs-on: windows-latest
    needs: list-windows-strawberry
    strategy:
      fail-fast: false
      matrix: ${{fromJson(needs.list-windows-strawberry.outputs.matrix)}}
    steps:
      - uses: actions/checkout@v6
      - name: Setup perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl }}
          distribution: ${{ matrix.distribution }}
      - name: Install packages
        run: choco install make
      - name: Perl version
        run: perl -V
      - name: Install dependencies
        run: cpanm --quiet --installdeps --notest .
      - name: Build
        run: |
          flags=$( perl -MConfig -e 'print $Config::Config{ccflags}' )
          perl Makefile.PL CCFLAGS="$flags ${{matrix.ccflags}}" CC="${{matrix.compiler}}" && make
        env:
          BUILD_ZLIB: ${{matrix.build-zlib}}
      - name: Test
        run: make test


###############

name: Windows

on:
  workflow_dispatch:
  push:
  pull_request:

jobs:
  build:

    runs-on: windows-latest

    strategy:
      matrix:
        perl:
          - '5.42'
          - '5.40'
          - '5.38'
          - '5.36'
          - '5.34'
          - '5.32'
          - '5.30'
          - '5.28'
          - '5.26'
          - '5.24'
          # - '5.22'
          # - '5.20'
          # - '5.18'
          # - '5.16'
          # - '5.14'
          # - '5.12'
          # - '5.10'
          # - '5.8'
          # - '5.6'
        build-zlib:
          - 1
          # - 0
        distribution:
          - 'default'
          # - 'strawberry'

    name: Perl ${{ matrix.perl }}  distribution:${{ matrix.distribution }} BUILD_ZLIB:${{matrix.build-zlib}}
    steps:
    - uses: actions/checkout@v6

    - name: Setup perl
      uses: shogo82148/actions-setup-perl@v1
      with:
        perl-version: ${{ matrix.perl }}
        distribution: ${{ matrix.distribution }}

    - name: Perl version
      run: perl -V

    - name: Install dependencies
      run: cpanm --quiet --installdeps --notest .

    - name: Build
      run: perl Makefile.PL && make
      env:
        BUILD_ZLIB: ${{matrix.build-zlib}}

    - name: Test
      run: make test

  werror:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        perl:
          - latest

        compiler:
          - name: gcc
            ccflags: -Werror

          - name: g++
            ccflags: -Werror -xc++

        build-zlib:
          - 0
          - 1

    name: Perl ${{ matrix.perl }} BUILD_ZLIB:${{matrix.build-zlib}} ${{matrix.compiler.name}}
    steps:
    - uses: actions/checkout@v6

    - name: Setup perl
      uses: shogo82148/actions-setup-perl@v1
      with:
        perl-version: ${{ matrix.perl }}

    - name: Perl version
      run: perl -V

    - name: Install dependencies
      run: cpanm --quiet --installdeps --notest .

    - name: Build
      run: |
        flags=$( perl -MConfig -e 'print $Config::Config{ccflags}' )
        perl Makefile.PL CCFLAGS="$flags ${{matrix.compiler.ccflags}}" CC=${{matrix.compiler.name}} && make
      env:
        BUILD_ZLIB: ${{matrix.build-zlib}}

    - name: Test
      run: make test
